<main class="container custom-container mt-3">
  <section id="question">
    <h3><%= @question.title %></h3>
    <p>Subject: <%= @question.subject.title %></p>
    <hr>
    <p><%= @question.body %></p>
  </section>

  <section id="answers" class="mt-5">
    <h5 class="fw-normal"><%= pluralize(@question.answers.count, 'Answer') %></h5>
    <%= render @question.answers %>
  </section>

  <section id="newAnswer" class="mt-5">
    <h5 class="fw-normal">Your Answer</h5>
    <%= form_with model: [@question, @question.answers.build] do |form| %>
      <div class="mt-3 mb-4">
        <%= form.rich_text_area :body %>
      </div>
      <%= form.submit 'Post Your Answer', class: "btn btn-primary" %>
    <% end %>
  </section>
</main>