<main class="container custom-container mt-3">
  <section id="question">
    <h3><%= @question.title %></h3>
    <p><%= @question.subject.title %></p>
    <%= render "votes/votes", question: @question %>
    <hr>
    <p><%= @question.body %></p>
    <div class="text-end mt-5">

      <% if policy(@question).edit? %>
        <%= link_to 'Edit', edit_question_path(@question), class: "text-muted text-decoration-none" %><br>
      <% end %>
      
      <%= user_info(@question.questioner) %> <span class="text-muted"> asked <%= created_at_in_words(@question) %></span>
    </div>
  </section>

  <section id="answers" class="mt-5">
    <h5 class="fw-normal"><%= answers_count(@question.answers_count) %></h5>
    <%= render @question.answers %>
  </section>

  <% if user_signed_in? %>
    <section id="newAnswer" class="mt-5">
    <h5 class="fw-normal">Your Answer</h5>
      <%= render "answers/form", question: @question, answer: @question.answers.build, button_text: "Post your answer" %>
    </section>
  <% else %>
    <p class="mt-5">Please <%= link_to 'Log in', new_user_session_path, class: "text-decoration-none" %> to submit an answer</p>
  <% end %>

</main>