<%= title "Discuss Stirling - Q/A Space for Stirling University Students", home: true %>

<main class="container custom-container mt-4">
  <div class="d-flex justify-content-between">
    <h1 class="fs-3 fw-normal">Recent Questions</h1>  

    <div>
      <%= link_to "Ask Question", ask_question_path, class: "btn btn-primary"%> 
    </div>
  </div>

  <div class="mt-4">

    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <%= link_to "Recent", root_path, tab_link_options("recent") %>
      </li>
      <li class="nav-item">
        <%= link_to "Most Votes", root_path(tab: "most-votes"), tab_link_options("most-votes") %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Subjects</a>
        <ul class="dropdown-menu dropdown-menu-end">
          <% Subject.all.each do |subject| %>
            <li><%= link_to subject.title, slug_path(subject), class: "dropdown-item" %></li>
          <% end %>
        </ul>
      </li>
    </ul>

  </div>

  <div>
    <ul class="questions mt-4">
      <% @questions.each do |question| %>
        <li>
          <div class="text-muted small-text">
            <span class="me-1"><%= pluralize(question.answers_count, 'answer') %></span>
            <span><%= pluralize(question.votes_count, 'vote') %></span>
          </div>

          <%= link_to question.title, slug_path(question), class: "text-decoration-none" %>

          <div class="d-flex justify-content-between small-text flex-column flex-sm-row">
            <%= link_to question.subject.title, slug_path(question.subject), class: "text-dark text-decoration-none me-2" %>
            <div>
              <%= question_info(question) %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</main>
