<%= title "Discuss Stirling - Q/A Space for Stirling University Students", home: true %>

<main class="container custom-container mt-4">
  <div class="d-flex justify-content-between">
    <h1 class="fs-3 fw-normal">Recent Questions</h1>  

    <div>
      <%= link_to "Ask Question", ask_question_path, class: "btn btn-primary"%> 
    </div>
  </div>

  <div class="mt-4">

    <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>
  </div>

  <div>
    <ul class="questions mt-4">
      <% Question.recent.each do |question| %>
        <li>
          <div class="text-muted small-text">
            <span class="me-1"><%= pluralize(question.answers_count, 'answer') %></span>
            <span><%= pluralize(question.votes_count, 'vote') %></span>
          </div>

          <%= link_to question.title, slug_path(question), class: "text-decoration-none" %>

          <div class="d-flex justify-content-between small-text flex-column flex-sm-row">
            <%= link_to question.subject.title, "#", class: "text-dark text-decoration-none me-2" %>
            <div>
              <%= question_info(question) %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</main>
