<main class="container mt-3 authentication">


  <div class="d-grid mb-4 mt-5">
    <button type="button" class="btn btn-primary"><i class="bi bi-facebook"></i> Sign in with Facebook </button>
  </div>


  <%= form_with model: @user, url: sign_in_path, method: :post do |form| %>

    <%= custom_field(form, :email, :email) %>

    <div class="mb-4">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", required: true %>
    </div>

    <div class="d-grid">
      <%= form.submit 'Sign in', class: "btn btn-primary" %>
    </div>

  <% end %>


  <p class="mt-4">Don't have an account? <%= link_to 'Sign up', sign_up_path, class: "text-decoration-none" %></p>

</main>


