<%= title "Log in" %>

<main class="container mt-3 auth">


  <%= facebook_button "Log in with Facebook" %>


  <%= form_with model: @user, url: login_path, method: :post do |form| %>

    <%= custom_field(form, :email, :email) %>

    <div class="mb-4">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", required: true %>
    </div>

    <div class="d-grid">
      <%= form.submit 'Log in', class: "btn btn-primary" %>
    </div>

  <% end %>


  <p class="mt-4">Don't have an account? <%= link_to 'Sign up', sign_up_path, class: "text-decoration-none" %></p>

</main>


