<section class="comments mt-5" data-controller="comments">

  <%= content_tag :ul, id: "#{dom_id(commentable)}_comments" do %>
    <% commentable.comments.order(:created_at).each do |comment| %>
      <%= render comment %>
    <% end %>
  <% end %>
  
  <%= form_with model: [commentable, Comment.new], data: {comments_target: "form", action: "turbo:submit-end->comments#reset"} do |form| %>
    <div class="mb-3">
      <%= form.text_area :body, class: "form-control", required: true, data: {comments_target: "body"}, placeholder: "Add a comment" %>
    </div>
    <%= submit_button(form, "Comment") %>
  <% end %>

  <a href="#" class="text-muted text-decoration-none" data-action="comments#newComment" data-comments-target="addComment">Add a comment</a>
</section>