<div class="comments mt-5">

  <%= content_tag :ul, id: "#{dom_id(commentable)}_comments" do %>
    <% commentable.comments.order(:created_at).each do |comment| %>
      <%= render comment, commentable: commentable %>
    <% end %>
  <% end %>
  <div data-controller="comments--new">
    <%= form_with model: [commentable, Comment.new], data: {comments__new_target: "form", action: "turbo:submit-end->comments--new#reset"}, class: "d-none" do |form| %>
      <div class="mb-3">
        <%= form.text_area :body, class: "form-control", required: true, data: {comments__new_target: "body"}, placeholder: "Add a comment" %>
      </div>
      <%= form.button(class: "btn btn-primary") { button_content "Comment"} %>
    <% end %>

    <a href="#" class="text-muted text-decoration-none" data-action="comments--new#newComment" data-comments--new-target="addComment">Add a comment</a>
  </div>
</div>