<% title "Sign Up" %>

<main class="container mt-3 auth">

  <%= facebook_button "Sign up with Facebook" %>


  <%= form_with model: @user, url: sign_up_path(account: params[:account]) do |form| %>

    <%= custom_field(form, :text, :name) if params[:account] == "public" %>
    
    <%= custom_field(form, :email, :email) do %>
      <% if params[:account] == "private" %>
        <div class="form-text">We'll never share your email with anyone else.</div>
      <% end %>
    <% end %>

    <%= custom_field(form, :password, :password) do %>
      <div class="form-text">Password must contain at least eight characters.</div>
    <% end %>


    <div class="d-grid">
      <%= form.submit 'Sign up', class: "btn btn-primary" %>
    </div>

  <% end %>


  <p class="mt-4">Already have an account? <%= link_to 'Log in', login_path, class: "text-decoration-none" %></p>

</main>


