<main class="container mt-3 authentication">

  <div class="d-grid mb-4 mt-5">
    <button type="button" class="btn btn-primary"><i class="bi bi-facebook"></i> Sign up with Facebook </button>
  </div>


  <%= form_with model: @user, url: sign_up_path(account: params[:account]) do |form| %>

    <%= custom_field(form, :text, :name) %>
    <%= custom_field(form, :email, :email) %>
    <%= custom_field(form, :password, :password) %>


    <div class="d-grid">
      <%= form.submit 'Sign up', class: "btn btn-primary" %>
    </div>

  <% end %>


  <p class="mt-4">Already have an account? <%= link_to 'Sign in', sign_in_path, class: "text-decoration-none" %></p>

</main>


